:root {
    --active: #606368;
    --background: #333333;
    --paper: #3d4042;
    --font: #B7BABF;
    --primary1: #FFB2FF;
    --primary2: #ea80fc;
    --primary3: #B64FC8;
}

.App {
    background-color: var(--background);
    height: 100vh;
}

.item.active {
    background-color: var(--active) !important;
}

.item {
    color: var(--primary2) !important;
}

.ui.stackable.menu {
    background-color: var(--paper);
}